certifi
charset-normalizer
contourpy
cycler
fonttools
idna
joblib
kiwisolver
matplotlib
numpy
opencv-python
packaging
pandas
Pillow
portalocker
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tqdm
typing_extensions
urllib3
streamlit
mediapipe
pyttsx3
gTTS
pygame

